Repository rabindratamang/mindfuel, pull requests merged in 2025-06, with the labels that each got.

#9 Feature/database
  backend/.env.example
  backend/agents/email_agent.py
  backend/agents/google_news_agent.py
  backend/agents/meditation_agent.py
  backend/agents/mood_analyzer.py
  backend/agents/sleep_coach.py
  backend/agents/spotify_agent.py
  backend/agents/youtube_agent.py
  backend/api/agent.py
  backend/api/auth.py
  backend/config/database.py
  backend/config/setting.py
  backend/core/security.py
  backend/main.py
  backend/models/agent.py
  backend/models/user.py
  backend/requirements.txt
  backend/tools/email_tools.py
  backend/tools/google_news_tools.py
  backend/tools/spotify_tools.py
  backend/tools/youtube_tools.py
  frontend/app/dashboard/page.tsx
  frontend/lib/auth.ts
Labels: enhancement, Backend

#10 Feature/localization local
  backend/agents/localization_agent.py
  backend/demo/run_localization_agent.py
  backend/notebook/Localization_Agent.ipynb
  backend/requirements.txt
  backend/tools/localization_tools.py
Labels: enhancement, Backend, Feature

#11 enhance/mood-analysis-ui: Add content recommendation system for mood
  frontend/app/dashboard/mood/page.tsx
  frontend/components/content-recommendations.tsx
  frontend/components/dashboard-sidebar.tsx
  frontend/components/mood-analyzer.tsx
Labels: enhancement, Frontend

#12 telegram bot try in notebook
  backend/notebook/Telegram_Agent.ipynb
Labels: enhancement, help wanted, Backend, Feature

#16 agent json response
  backend/notebook/Google_News_Agent_2.ipynb
Labels: enhancement, Backend, Feature

#24 Enhance/mood analysis
  backend/agents/__init__.py
  backend/agents/content_generator_agent.py
  backend/agents/mood_analyzer.py
  backend/agents/mood_analyzer_master.py
  backend/agents/youtube_agent_react.py
  backend/agents/youtube_agent_tc.py
  backend/demo/run_youtube_agent.py
  backend/langsmith_exports/langsmith_trace_0ab055f0-4a04-41ac-b22b-8067703e0e3a_20250623_002104.json
  backend/langsmith_exports/langsmith_trace_1a47f9fd-80ef-4cf5-8fde-4bec30711cc9_20250622_212248.json
  backend/langsmith_exports/langsmith_trace_1e455aad-d3f4-409f-b852-23693d1c855b_20250623_022007.json
  backend/langsmith_exports/langsmith_trace_8ae78e2f-f7ab-467f-8a8c-cd56cf91d7aa_20250622_233650.json
  backend/langsmith_trace.py
  backend/tools/spotify_tools.py
  backend/tools/youtube_tools.py
  frontend/components/mood-entry-detail.tsx
Labels: enhancement, Backend, Frontend

#25 bugfix/registration-validation: Fix registration validation in frontend
  backend/.env.example
  frontend/app/register/page.tsx
Labels: bug, Frontend

#26 bugfix/onboarding-loop: Set new token after onboarding
  backend/api/users.py
  frontend/app/onboarding/page.tsx
Labels: bug, Backend, Frontend

#29 Feature/chat
  backend/agents/chat_agent.py
  backend/tools/spotify_tools.py
  backend/tools/youtube_tools.py
  frontend/app/dashboard/chat/page.tsx
Labels: enhancement, Frontend, chat
